{% extends 'base.html' %}
{% block other %}
<div class="container-fluid hero-header bg-light py-5 mb-5" id="hero">
		<div class="container py-5">
				<div class="row g-5 align-items-center">
						<div class="col-lg-6">
								<h1 class="display-4 mb-3 animated slideInDown"><b>Gift-giving, made easy</b></h1>
								<p class="animated slideInDown">Use our free website to create a list of gifts that fit within your budget</p>
						</div>
						<div class="col-lg-6 animated fadeIn" style="float: right">
								<img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" style="float: right;" src="{{ url_for('static', filename='gift-image.png') }}"
										alt="">
						</div>
				</div>
		</div>
</div>
{% endblock %}
{% block main %}
	<!--CSS-->
	<div id = "name-section" class="mx-0 my-0">
		<output for="customRange1" class="form-label">Price Budget: 1$</output>
		<input id="priceBudget" type="range" class="form-range" value="1" min="1" max="3000" oninput="this.previousElementSibling.value = 'Price Budget: ' + this.value + '$'">
		<!--RECIPIENT-->
		<h3 class="text-center mt-5 mb-4">Recipients</h3>
		<div id="table">
			<div class = "row my-2 mx-0">
				<input class="col mx-0 form-control name me-1" placeholder="Name"></input>
				<input class="col mx-0 form-control gift ms-1" placeholder="Gift"></input>
				<div class="col-md-auto me-n1"><button onclick = "this.parentNode.parentNode.remove()"class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></button></div>
			</div>
		</div>
		<div class="btn-group d-flex mx-0" role="group">
	  	<button type="button" class="btn btn-primary w-100"id="add">+</button>
		  <button type="button" class="btn btn-outline-primary w-20" id="submit">Submit</button>
		</div>
	</div>

	<!--PICK GIFTS-->
	<div id = "gift-section" class="mx-0 my-0" style="display: none">
		<h3 class="text-center mt-5">Pick a gift</h3>
		<button type="button" class="btn btn-outline-primary w-20" onclick="console.log('aaa')" style="float: right" id="submitSelections">Submit</button>
		<ul class="nav nav-tabs mt-2" id="tabs" role="tablist">
		</ul>
	
		<div class="tab-content" id="tabContents">
			<div class="mb-3"></div>
		</div>
		<div class="mt-2">
		</div>
	</div>
	<div id="spacing" style="margin-bottom: 50%"></div>
	<script>
		const addButton = document.getElementById("add")
		const table = document.getElementById("table")
		var savedData
		addButton.onclick = function(){table.insertAdjacentHTML('beforeend',`
			<div class = "row my-2 mx-0">
				<input class="col mx-0 form-control name me-1" placeholder="Name"></input>
				<input class="col mx-0 form-control gift ms-1" placeholder="Gift"></input>
				<div class="col-md-auto me-n1"><button onclick = "this.parentNode.parentNode.remove()"class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></button></div>
			</div>
		`)}
		const submitButton = document.getElementById("submitSelections")
		var indexs = []
		submitButton.onclick = function() {
			//pick gifts variables
			const tabs = document.getElementById("tabs")
			const tabContents = document.getElementById("tabContents")

			//selection section
			var namesSize = document.getElementsByClassName("tab-pane").length;
			console.log(namesSize)
			for(var i = 0; i < namesSize; i++) {
				Array.from(document.getElementsByClassName("selection" + i)).forEach((element, index) => {
					console.log(element)
					if(element.childNodes[1].classList.contains("border")) indexs.push(index)
				})
			}

			//check if all sections have a selection
			if(indexs.length < namesSize) {
				window.alert("All recipients need to have a selection");
			} else {
				//send data to server
				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function() {
					if (xhr.readyState == XMLHttpRequest.DONE) {
						location.replace(xhr.responseText)
					}
				}
				xhr.open("POST", "../../get_selections", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.send(JSON.stringify({
					data: savedData,
					index: indexs,
				}));
			}
		}
		submit.onclick = function () {
			//get all data
			var nmes = []
			var gfts = []
			Array.from(document.getElementsByClassName("name")).forEach((element) => nmes.push(element.value))
			Array.from(document.getElementsByClassName("gift")).forEach((element) => gfts.push(element.value))
			//send data to server
			document.getElementById('hero').style.display = 'none';
			document.getElementById('spacing').style.display = 'none';
			
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function() {
				if (xhr.readyState == XMLHttpRequest.DONE) {
					//save the data
					//change sections
					document.getElementById('name-section').style.display = 'none';
					document.getElementById('gift-section').style.display = 'inline';
					document.get
					var data = JSON.parse(xhr.responseText)
					savedData = data
					data.forEach((element, mIndex) => {
						tabs.insertAdjacentHTML('beforeend', `
							<li class="nav-item" role="presentation">
							<button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#` + element["name"] + `" type="button" role="tab" aria-controls="home" aria-selected="true">` + element["name"] +`</button>
						</li>`)
						tabContents.insertAdjacentHTML('beforeend', `
							<div class="tab-pane fade" id="` + element["name"] + `" role="tabpanel" aria-labelledby="` + element["name"] + `-tab"><div class="row row-cols-1 row-cols-md-4 g-4">
			 </div></div>`)
						const tabCont = document.getElementById(element["name"]).childNodes[0]
						element["list"].forEach((subData, index) => {
							const card = document.createElement("div")
							card.className = "col selection" + mIndex;
							stars = Math.round(subData["stars"])
							acc = ""
							for(var i = 0; i < stars; i++) acc += "★"
							for(var i = 0; i < (5 - stars); i++) acc += "☆"
							card.innerHTML = `
			 					<div class="card h-100 ${mIndex}" onclick = "Array.from(document.getElementsByClassName('${mIndex}')).forEach((temp) => {temp.className='card h-100 ${mIndex}';}); this.className='card h-100 border border-2 border-success ${mIndex}'">
				 					<div style="position: relative; width: 100%; height: 50px; padding-bottom: 100%; object-fit: contain; overflow: hidden;">
		<img src="${subData["image"]}" class="card-img-top" style="vertical-align: middle;"></div>
				 					
				 					<div class="card-header">
										<h4 class="card-title">${subData["title"]}</h4>
									</div>
									<div class="card-body">
										${acc}
										${subData["price"]}
									</div>
				 				</div>
							`
							tabCont.appendChild(card)
						})
					})
					//do something with the responses
				}
			}
			xhr.open("POST", "../../get_gifts", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify({
				price: document.getElementById("priceBudget").value,
				names: nmes,
				gifts: gfts,
			}));
			document.getElementById("name-section").innerHTML = `<div class="my-5"></div><h3 class="mt-5 mb-3 text-center">Loading... this may take a few minutes</h3><div style='display: flex;
  justify-content: center;
  align-items: center;'>
		<div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
 </div>`
	 
		}
	</script>
{% endblock %}